.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.custom-marker {
  text-align: center;
  line-height: 12px; /* Adjust based on your font size */
  font-size: 12px; /* Small text size */
  width: 100px; /* Ensure text is centered above the icon */
  margin-left: -50px; /* Half of the width to center the text block */
  margin-bottom: 25px; /* Height of the icon to place text above */
  background-color: transparent; /* Make background transparent */
  color: maroon; /* Adjust as needed for visibility */
  font-weight: bold; /* Optional: Make text bold for better visibility */
  text-shadow: 1px 1px 2px rgba(255,255,255,0.7); /* Adds a subtle shadow for better readability */
}

.section {
  font-weight: bold;
  color: blue;
}

p svg {
  color: blue;
}

p {
  vertical-align: middle;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  overflow: hidden; /* Hide scrollbars */
  
}

.side-pane {
  overflow-y: scroll;
}

/* Mobile popup styles */
/* Ensure side pane is fixed on the right side for desktop */
.side-pane {
  width: 300px;
  height: 100vh;
  position: fixed; /* Fixed positioning to keep it on the right */
  top: 0;
  right: 0; /* Position on the right */
  background: rgba(250, 250, 250, 0.85);
  padding: 20px;
  border-left: 1px solid grey;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  z-index: 1000; /* Ensure it's above the map */
}

/* Adjustments for mobile popup */
@media (max-width: 768px) {
  .side-pane {
    display: none; /* Hide by default on mobile */
  }

  .mobile-popup {
    display: block; /* Show when active */
    position: fixed; /* Fixed at the bottom */
    width: 100%; /* Full width */
    height: auto; /* Auto height */
    bottom: 0;
    top: auto; /* Allow it to grow upwards */
    right: 0;
    border-radius: 20px 20px 0 0;
    border-top: 1px solid grey;
    max-height: 80vh; /* Maximum height */
    overflow-y: auto; /* Scrollable content */
    z-index: 1001; /* Above other content */
  }
}
